{% extends "base-hero.html" %}

{% block hero_head %}
<div class="container is-fullhd">
    <div class="columns">
        <div class="column"></div>
        <div class="column is-narrow">
            <div class="section">
                <div class="box is-transparent">
                    <p class="title is-4">something's gone wrong</p>
                    <p class="subtitle is-6">
                        an error has occurred while processing your request
                        <br>
                        if the issue persists, please contact <a href="/user/effward">@effward</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>
{% endblock %}
