<div class="box is-barely-transparent is-hover my-1 px-2 py-2">
  <article class="media">
    <div class="media-content">
        
        <div class="content">
          <a href="/user/{{ comment.author.id }}" style="font-size: 0.75em;">
              <span class="icon is-small ml-2">
                    <i class="fas fa-user" aria-hidden="true"></i>
              </span>
              <strong class="is-small">{{ comment.author.name }}</strong>
          </a>
         
            <p class="subtitle is-6 mx-4 my-1">{{ comment.content | safe }}</p>

        </div>
        
        <nav class="level is-mobile">
          <div class="level-left">
            <button onclick="toggleById('reply-{{ comment.id }}'); enableSimpleMDEById('reply-text-{{ comment.id }}')" class="button level-item is-small is-info is-light" aria-label="reply">
              <span class="icon is-small">
                <i class="fas fa-reply" aria-hidden="true"></i>
              </span>
              <span>reply</span>
            </button>
          </div>
          {% if comment.children | length > 0 %}
          <div class="level-right">
            <button onclick="toggleById('children-{{ comment.id }}')" class="button level-item is-small is-light" aria-label="reply">
              <span class="icon is-small">
                <i class="fas fa-eye-slash" aria-hidden="true"></i>
              </span>
              <span>hide children</span>
            </button>
          </div>
          {% endif %}
        </nav>
    </div>
  </article>
  <form id="reply-{{ comment.id }}" class="pt-2 px-4" action="/comment" method="POST" style="display: none;">
      <input type="hidden" name="post_id" value="{{ post.summary.id }}">
      <input type="hidden" name="parent_id" value="{{ comment.id }}">
      <div class="field">
          <textarea
              id="reply-text-{{ comment.id }}"
              name="content"
              placeholder="your reply goes here"></textarea>
      </div>
      <div class="field">
          <div class="control">
              <input type="submit" class="button is-success is-light" value="add reply">
          </div>
      </div>
  </form>
</div>
{% if comment.children | length > 0 %}
    <div id="children-{{ comment.id }}" class="section py-0 pl-4 pr-0" style="border-left: dashed lightgray 1px; background: rgba(0, 0, 0, 0.05);">
    {% for comment in comment.children %}
        {% set comment_depth = comment_depth + 1 %}
        {% include "comment.html" %}
    {% endfor %}
    </div>
{% endif %}