<footer class="footer has-background-light">
    <div class="content is-small has-text-centered">
        <hr style="height:1px;width:60%;min-width:320px;margin:30px auto;border-width:0;color:gray;background-color:LightGray;">
            <strong>effward.dev</strong> - <a href="https://effward.dev">effward</a>
        <br>
            the
            <a href="https://github.com/effward/effward-dev">source code</a>
            is licensed <a href="https://opensource.org/license/mit/">mit</a>
        <br>
            the site content
            is licensed <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">cc by nc sa 4.0</a>.
        <hr style="height:1px;width:20%;min-width:145px;margin:30px auto;border-width:0;color:gray;background-color:LightGray;">
            <a class="button is-light is-small" href="https://www.paypal.com/donate/?hosted_button_id=2NW9M8A4Q2N82">donate</a>
    </div>
</footer>