<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <script src="https://kit.fontawesome.com/f5d73dca8d.js" crossorigin="anonymous"></script>
        {# TODO: move to .js file / try out typescript? #}
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                // Get all "navbar-burger" elements
                const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    
                // Add a click event on each of them
                $navbarBurgers.forEach( el => {
                    el.addEventListener('click', () => {
    
                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);
    
                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
    
                    });
                });

                (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                    const $notification = $delete.parentNode;

                    $delete.addEventListener('click', () => {
                        $notification.parentNode.removeChild($notification);
                    });
                });
            });
        </script>
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <i class="fas fa-hand-middle-finger fa-1x pr-2"></i>
                    <p class="title is-6">effward.dev</p>
                </a>
                
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/submit">
                        blog
                    </a>
                    
                    <a class="navbar-item" href="/">
                        résumé
                    </a>
                </div>
                
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {% if is_auth %}
                            <form action="/logout" method="POST">
                                <input type="submit" class="button is-light" value="log out">
                            </form>
                            {% else %}
                            <a class="button is-success" href="/signup">
                                <strong>sign up</strong>
                            </a>
                            <a class="button is-light" href="/login">
                                log in
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        {% for success in notifications.successes %}
        <div class="notification is-success">
            <button class="delete"></button>
            <p class="has-text-centered has-text-weight-semibold">{{ success }}</p>
        </div>
        {% endfor %}
        {% for info in notifications.infos %}
        <div class="notification is-info">
            <button class="delete"></button>
            <p class="has-text-centered has-text-weight-semibold">{{ info }}</p>
        </div>
        {% endfor %}
        {% for warn in notifications.warns %}
        <div class="notification is-warning">
            <button class="delete"></button>
            <p class="has-text-centered has-text-weight-semibold">{{ warn }}</p>
        </div>
        {% endfor %}
        {% for error in notifications.errors %}
        <div class="notification is-danger">
            <button class="delete"></button>
            <p class="has-text-centered has-text-weight-semibold">{{ error }}</p>
        </div>
        {% endfor %}
        <div class="columns">
        {% block content %}
        {% endblock %}
        </div>
        
    </body>
</html>