{% extends "base.html" %}

{% block content %}
<div class="column is-10 is-offset-1">
    <div class="section p-2">
        <p class="title is-6 mb-3">{{ post.title }}</p>
            <div class="box p-3 has-background-info-light">
            <div class="card mb-3">
                <div class="card-content px-4 py-2">
                    <div class="content">
                        <div class="block">
                            post preview
                        </div>
                    </div>
                </div>


                <footer class="card-footer">
                    <p class="card-footer-item p-1">
                        <small><a href="/users/{{ post.author.id }}">{{ post.author.name }}</a></small>
                    </p>
                    <p class="card-footer-item p-1">
                        <small><a href="/post/{{ post.id }}">report</a></small>
                    </p>
                    <p class="card-footer-item p-1">
                        <small><time datetime="{{ post.created }}">{{ post.created }}</time></small>
                    </p>
                </footer>
            </div>
        </div>
    </div>
</div>
{% endblock %}